body, .hero2, .header, ul, .second, .pics, .gray, .last, .container, .footer {
    display: flex;
}

body, .second, .gray {
    flex-direction: column;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    place-content: center space-between ;
    padding: 10px 0;
}

.link {
    margin: 10px 0px 0px 30px;
    list-style-type: none;
    padding: 0;
}

.hero {
    background-color: #1F2937;
    padding: 0 180px;
}

ul {
    justify-content: end;
    padding: 0;
    margin: 0 50px
}

.logo {
    font-size: 24px;
    align-self: center;
    font-weight: 900;
    color: #f9faf8;
    margin: 0 50px
}

.text {
    margin: 50px;
    line-height: 2;
}

.title {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
    color: #f9faf8;
}

.under {
    margin: 13px 2px;
    line-height: 1.2;
}

.hero2 {
    justify-content:center;
    padding: 80px 0;
}

.hero2 > img {
    margin: 50px;
    height: 260px;
}

.text, .link, .click {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    border: 0px;
    padding: 8px 40px;
}

.signup, .signup2 {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    font-weight: bold;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.second {
    min-height: 530px;
    align-items: center;
    place-content: center center;
    padding: 0 18vw;
    gap: 60px;
}

.blue {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.pic > img {
    border-radius: 10%;
    width: 160px;
    height: 160px;
    border: 5px solid #3882f6;
}

.pics {
    justify-content: space-evenly;
    min-width: 64vw;
}

.subtext {
    width: 160px;
    text-align: center;
}

.gray {
    justify-content: center;
    align-items: end;
    background-color: #e5e7eb;
    padding: 0 350px;
    min-height: 400px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937
}

.author {
    font-weight: bolder;
    font-size: 24px;
}

.last {
    min-height: 300px;
    justify-content: center;
    align-items: center;
}

.container {
    background-color:#3882f6;
    height: 150px;
    width: 1000px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 40px;
    justify-content: space-evenly;
    align-items: center;
    color: #e5e7eb;
}

.signup2 {
    border: 2px solid white;
    padding: 0;
    height: 35px;
    width: 120px
}

.caution {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.footer {
    background-color: #1F2937;
    height: 110px;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}