body, .hero2, .header, ul, .second, .pics {
    display: flex;
}

body, .second {
    flex-direction: column;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    border: 1px solid black;
    place-content: center space-between ;
}

.hero {
    background-color: #1F2937;
}

.logo, .title {
    color: #f9faf8;
}

li {
    list-style-type: none;
    
}

.logo {
    font-size: 24px;
    align-self: center;
}

.text {
    margin: 50px;
    line-height: 2;
}

.title {
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}

.hero2 {
    justify-content:center;
    padding: 80px 180px;
}

.text, .link {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.second {
    border: 1px saddlebrown solid;
    align-items: center;
    place-content: center center;
    padding: 0 18vw;
    gap: 60px;
}

.blue {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}

.pic > img {
    border-radius: 10%;
    width: 160px;
    height: 160px;
    border: 5px solid #3882f6;
}

.pics {
    justify-content: space-evenly;
    /* border: 1px solid black; */
    min-width: 64vw;
}

.subtext {
    width: 160px;
    text-align: center;
}

.second, .gray, .last {
    height: 550px;
}